.works {
  .comming-relative {
    position: relative;
  }

  .comming-container {
    position: absolute;
    z-index: 9999;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .comming-soon {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .works-image-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  .works-image {
    z-index: 14;
    width: 70%;
    height: 450px;
    overflow: hidden;
  }

  .works-text {
    position: relative;
    width: 30%;
    height: 450px;
    background-color: #0c223f;
  }

  .works-image > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
    transition: transform 0.3s linear;
  }
  .works-img-hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .works-image-odd > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
    transition: transform 0.3s linear;
  }

  .works-img-odd-hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .works-text-odd {
    position: relative;
    width: 30%;
    height: 450px;
    background-color: #ffc41c;
  }

  .works-image-odd {
    overflow: hidden;
    height: 450px;
    width: 70%;
  }

  .works-image-odd > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* works-title,subtitle,button */
  .works-title {
    font-family: "Fugaz One", cursive;
    font-size: 2rem;
    color: #ffffff;
    padding-bottom: 24px;
  }

  .works-title-odd {
    color: #0c223f;
  }

  .works-subtitle {
    font-size: 1.6rem;
    color: #ffffff;
    padding-bottom: 24px;
  }

  .works-subtitle-odd {
    color: #0c223f;
  }

  .text-container {
    position: absolute;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* works-button */

  .button-container {
    text-align: center;
  }

  .works-button {
    font-size: 1.4rem;
    color: #ffc41c;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 50px;
    background-color: #0c223f;
    border: 1px solid #ffc41c;
    overflow: hidden;
    padding: 0;
  }
  .works-button-odd {
    font-size: 1.4rem;
    color: #0c223f;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 50px;
    background-color: #ffc41c;
    border: 1px solid #0c223f;
    overflow: hidden;
    padding: 0;
  }

  /* button hover action */

  .works-button-hover {
    color: #0c223f;
  }

  .works-button-odd-hover {
    color: #ffc41c;
  }

  .works-button::before,
  .works-button-odd::before,
  .works-button::after,
  .works-button-odd::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    top: 100%;
    width: 100%;
    height: 100%;
  }

  .works-button-hover::after {
    top: 0;
    background-color: #ffc41c;
  }

  .works-button-odd-hover::after {
    top: 0;
    background-color: #0c223f;
  }

  .works-button,
  .works-button-odd,
  .works-button::before,
  .works-button-odd::before,
  .works-button::after,
  .works-button-odd::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  /* triangle */
  .triangle {
    position: absolute;
    z-index: 14;
    top: 40%;
    left: -50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 50px 0;
    border-color: transparent #0c223f transparent transparent;
  }

  .triangle-odd {
    position: absolute;
    z-index: 14;
    top: 40%;
    right: -50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #ffc41c;
  }
}
