.contact {
  font-family: "Oswald", sans-serif;
  .contact_container {
    text-align: center;
    padding: 56px 0;
    background-color: #ffc41c;
  }

  .contact-message {
    color: #0c223f;
    font-size: 4.2rem;
    padding-bottom: 32px;
    margin: 0;
  }

  .contact-email {
    color: #0c223f;
    font-size: 4.2rem;
    color: #000000;
    font-weight: bold;
  }
  @media screen and (max-width: 600px) {
    .contact-email {
      font-size: 2rem;
    }
    .contact-message {
      font-size: 3.2rem;
    }
  }
}
